DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hr_payroll"
JWT_SECRET="super-secret-enterprise-jwt-key-change-in-production-2026"
JWT_EXPIRES_IN="3600s"
REDIS_URL="redis://localhost:6379"
PORT=3000
